@font-face {
    font-family: Avenir Next;
    src: url("/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: Avenir;
    src: url("/fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: Avenir Light;
    src: url("/fonts/AvenirLTStd-Light.otf") format("opentype");
}

.iconImage {
    margin-right:  15px;
}

.center {
    text-align: center;
}

.small-left-gap {
    padding-left:  20px;
}

.big-left-gap {
    padding-left:  40px;
}

.tiny-top-margin {
    margin-top: 10px;
}

.BWGray {
    color:  #ACACAF;
}

.page-header {
    font-size:  32px;
    margin-top:  20px;
}

.bigIcon {
    font-size: 48px;
}

.bigIcon:hover {
    color: #63B1E5;
    cursor: pointer;
}

.blackText {
    color: #000;
}

.submitInPanel {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #ACACAF;
    height: 40px;
    text-align: center;
}

.cancelInPanel {
    height: 40px;
    text-align: center;
}

.submitInPanel > *, .cancelInPanel > * {
    position: relative;
    top: calc(50% - 10px);
}

.hoverBluePointer:hover{
    color: #63B1E5;
    cursor: pointer;
}
