
div.row
    div.col-lg-12
        h2.page-header {{app.Name}}'s Details
    //-- end .col-lg-12 --
//-- end .row --
div
    div.row
        div.col-xs-12
            div.panel.panel-default
                div.panel-heading Application Details
                    div.pull-right(ng-controller="removeAppCtrl")
                        i.fa.fa-times.BWGray.mediumIcon(style="margin-top:-6px;", ng-click="open()", tooltip-placement="left", tooltip="Delete Application")
                            script(type="text/ng-template", id="removeAppModal.jade")
                                div.modal-header
                                    h3.modal-title Do you really want to delete this application?
                                div.modal-footer
                                    button.btn.btn-success(ng-click="ok()") Yes
                                    button.btn.btn-danger(ng-click="cancel()") No
                    i.fa.fa-pencil.BWGray.pull-right.mediumIcon(style="margin-top:-6px; margin-right:9px; margin-left:0px;", ng-click="$parent.isEditingApp = !$parent.isEditingApp", tooltip-placement="left", tooltip="Edit Application")
                div.panel-body(ng-show="!isEditingApp")
                    div.row
                        div.col-xs-12.medium-small.medium-line
                            i.fa.fa-phone.fa-2x 
                            span.left-gap {{app.Phone}}
                    div.row
                        div(ng-show="app.Fallback.Name")
                            div.col-xs-12.medium-small.medium-line 
                                i.fa.fa-user.fa-2x 
                                span.left-gap Fallback Staffer:
                            div.col-xs-12.col-sm-6.col-lg-3.tiny-top-margin.small-left-space
                                div.panel.panel-red
                                    div.panel-heading 
                                        i.fa.fa-user.iconImage
                                        | {{app.Fallback.Name}}
                                    div.panel-body.center {{app.Fallback.Primary}}
                        div.col-xs-12.medium-small.medium-line(ng-show="!app.Fallback.Name")
                            i.fa.fa-user.fa-2x 
                            span.left-gap No Fallback Staffer
                form.form(name="editApp", ng-controller="editAppCtrl", ng-submit="form.submit()")
                    div.panel-body(ng-show="isEditingApp")
                        div.row
                            div.col-xs-12.col-sm-6.col-lg-3.medium-small
                                div.input-group
                                    div.input-group-addon
                                        i.fa.fa-phone
                                    input.form-control(type="text", name="appPhone", ui-mask="(999) 999-9999",tooltip-placement="right" tooltip="Application Phone Number" ng-minlength="10" ng-model="form.appPhone", placeholder="(xxx) xxx-xxxx", required)
                        div.row.tiny-top-margin
                            div.col-xs-12.col-sm-6.col-lg-3.medium-small
                                div.input-group
                                    div.input-group-addon
                                        i.fa.fa-user
                                    select.form-control(name="appFallback", ng-model="form.appFallback", ng-options="getStaffString(staff) for staff in app.Staff track by staff._id", required)
                                        option(style="display:none", value="") Select a Fallback Staffer
                        div.row.tiny-top-margin
                            div.col-xs-12
                                button.btn.btn-success(type="submit") Save
                                button.btn.btn-danger.tiny-left-space(type="button", ng-click="$parent.isEditingApp = !$parent.isEditingApp") Cancel
    hr
    div.row
        div.col-xs-12
            div.panel.panel-default
                div.panel-heading Application Staff
                    i.fa.fa-plus-square.BWGray.pull-right.mediumIcon(style="margin-top:-6px;", ng-click="$parent.isCollapsed = !$parent.isCollapsed", tooltip-placement="left" tooltip="Add New Staff")
                div.panel-body
                    div.row(collapse="isCollapsed")
                        form.form(name="newStaff", ng-controller="newStaffCtrl", ng-submit="form.submit()")
                            div.col-xs-12.col-sm-6.col-lg-3
                                div.panel.panel-gray
                                    div.panel-heading
                                        div.row
                                            div.col-xs-1
                                                i.fa.fa-user.iconImage
                                            div.col-xs-9
                                                input.form-control.smallerHeight(type="text", name="Name", style="margin-left: -8px;", ng-minlength="1", ng-model="form.staffName", placeholder="Staff Name", required)
                                            
                                    div.panel-body.center
                                        div.input-group
                                            div.input-group-addon
                                                i.fa.fa-phone
                                            input.form-control(type="text", name="Phone", ui-mask="(999) 999-9999",tooltip-placement="right" tooltip="Staff Phone Number" ng-minlength="10" ng-model="form.staffPrimary", placeholder="(xxx) xxx-xxxx", required)
                                    div.panel-footer(style="padding: 0px; height:30px;")
                                        div.row(style="padding: 0px; height:30px; margin:0px;")
                                            div.col-xs-6.submitInPanel-small.BWGray.hoverBluePointer(style="padding: 0px; margin:0px;")
                                                button(type="submit", style="border:none; height:29px; width:100%;")
                                                    i.fa.fa-check
                                                    span.small-left-gap Submit
                                            div.col-xs-6.cancelInPanel-small.BWGray.hoverBluePointer(style="padding: 0px;", ng-click="form.empty(); $parent.isCollapsed = !$parent.isCollapsed")
                                                button(type="button", style="border:none; height:29px; width:100%;")
                                                    i.fa.fa-times
                                                    span.small-left-gap Cancel
                                        div.clearfix
                    div.row
                        div.col-xs-12.col-sm-6.col-lg-3(ng-repeat="staff in app.Staff | orderBy:'Name'")
                            div.panel(ng-class="{'panel-red' : $index%5==4, 'panel-purple' : $index%5==0, 'panel-blue' : $index%5==1, 'panel-green' : $index%5==2, 'panel-yellow' : $index%5==3}")
                                form.form(name="editStaff", ng-controller="editStaffCtrl", ng-submit="form.submit()")
                                    input(type="hidden", name="oldPrimary", ng-model="form.oldPrimary", ng-init="form.oldPrimary=staff.Primary")
                                    div.panel-heading(ng-show="!isEditingStaff")
                                        div.row(style="line-height: 24px;")
                                            div.col-xs-10
                                                i.fa.fa-user.iconImage
                                                | {{staff.Name}}
                                            div.col-xs-1(style="height: 24px;")
                                                i.fa.fa-pencil.pull-right.smallIcon.tiny-top-margin(ng-click="$parent.isEditingStaff = !$parent.isEditingStaff", tooltip-placement="left", tooltip="Edit Staff")
                                            div.col-xs-1(ng-controller="removeStaffCtrl", style="height: 24px;")
                                                i.fa.fa-times.pull-right.smallIcon.tiny-top-margin(ng-click="removeStaff(staff.Primary);", tooltip-placement="right", tooltip="Remove Staff")
                                    div.panel-heading(ng-show="isEditingStaff")
                                        div.row(style="line-height: 34px;")
                                            div.col-xs-1
                                                i.fa.fa-user.iconImage
                                            div.col-xs-9
                                                input.form-control(type="text", name="staffName", ng-minlength="1", ng-model="form.staffName", ng-init="form.staffName=staff.Name", placeholder="Staff Name", required)     
                                            div.col-xs-1(style="height: 34px; padding-top: 7px;")
                                                i.fa.fa-pencil.pull-right.smallIcon.tiny-top-margin(ng-click="$parent.isEditingStaff = !$parent.isEditingStaff", tooltip-placement="left", tooltip="Edit Staff")
                                            div.col-xs-1(ng-controller="removeStaffCtrl", style="height: 34px; padding-top: 7px;")
                                                i.fa.fa-times.pull-right.smallIcon.tiny-top-margin(ng-click="removeStaff(staff.Primary);", tooltip-placement="right", tooltip="Remove Staff")
                                    div.panel-body.center(ng-show="!isEditingStaff") {{staff.Primary}}
                                    div.panel-body.center(ng-show="isEditingStaff") 
                                        div.small
                                        input.form-control(type="text", name="staffPrimary", ui-mask="(999) 999-9999",tooltip-placement="right", tooltip="Staff Phone Number", ng-minlength="10", ng-model="form.staffPrimary", ng-init="form.staffPrimary=staff.Primary", placeholder="(xxx) xxx-xxxx", required)
                                    div.panel-footer(style="padding: 0px; height:30px;", ng-show="isEditingStaff")
                                        div.row(style="padding: 0px; height:30px; margin:0px;")
                                            div.col-xs-6.submitInPanel-small.BWGray.hoverBluePointer(style="padding: 0px; margin:0px;")
                                                button(type="submit", style="border:none; height:29px; width:100%;")
                                                    i.fa.fa-check
                                                    span.small-left-gap Submit
                                            div.col-xs-6.cancelInPanel-small.BWGray.hoverBluePointer(style="padding: 0px; margin:0px;")
                                                button(type="button", style="border:none; height:29px; width:100%;", ng-click="form.empty(); isEditingStaff = !isEditingStaff")
                                                    i.fa.fa-times
                                                    span.small-left-gap Cancel
                                        div.clearfix
    hr
    div.row
        div.col-xs-12
            div.panel.panel-default
                div.panel-heading On Call Segments
                div
                    ul.list-group.squareCorners.segmentList
                        li.list-group-item.segmentItem.squareCorners(ng-repeat="segment in app.Segments")
                            div.row(ng-if="segment.PrimaryStaff == undefined")
                                div.col-xs-12.emptySegment
                                    i.fa.fa-plus-square.largeIcon.BWGray(tooltip-placement="right", tooltip="Add Segment In Gap")
                            div.row(ng-if="segment.PrimaryStaff")
                                div.col-xs-12.col-md-2.pull-right
                                    div.pull-right
                                            i.fa.fa-times.pull-right.mediumIcon.BWGray(tooltip-placement="right", tooltip="Remove Segment")
                                    i.fa.fa-pencil.pull-right.mediumIcon.BWGray(tooltip-placement="left", tooltip="Edit Segment")
                                div.col-xs-12.col-md-2(style="height:100%;")
                                    div
                                        span Start Date: {{segment.StartDateString}}
                                    div
                                        span End Date: {{segment.EndDateString}}
                                div.col-xs-12.col-md-8
                                    div
                                        i.fa.fa-user.iconImage
                                        span Primary: {{segment.PrimaryStaff.Name}}
                                    div
                                        i.fa.fa-user.iconImage
                                        span Secondary: {{segment.SecondaryStaff.Name}}
    div.clearfix