div.row
    div.col-lg-12
        div.page-header Authorization Failure 
    //-- end .col-lg-12 --
//-- end .row --
div
    div.row
        div.col-md-12.alert.alert-danger(role="alert") 
            span You are not authorized to use this application.  Click 
            a(href="/logout" target="_self") here 
            span to log out and try again.

    //-- end .row --
