div.row
    div.col-lg-12
        div.page-header Escalation Groups 
            i.fa.fa-plus-square.BWGray.pull-right.bigIcon(ng-click="$parent.isCollapsed = !$parent.isCollapsed", tooltip-placement="left" tooltip="Add New Escalation Group")
            div.clearfix
    //-- end .col-lg-12 --
//-- end .row --
div
    div.row(collapse="isCollapsed")
        div.col-lg-7.col-md-12(style="float: none; margin: 0 auto;")
            form.form(name="newApp", ng-controller="newAppCtrl", ng-submit="form.submit()")
                div.panel.panel-gray
                    div.panel-heading
                        div.row
                            div.col-xs-2.col-sm-1
                                i.fa.fa-users.fa-5x
                            div.col-xs-7.col-sm-8.big-left-gap.blackText
                                div.medium
                                    input.form-control(type="text", name="Name", ng-minlength="1", ng-model="form.appName", placeholder="Group Name", required)
                                div.medium-small
                                    input.form-control.tiny-top-margin(type="text", name="Phone", ui-mask="(999) 999-9999",tooltip-placement="right" tooltip="Escalation Bridge Number" ng-minlength="10" ng-model="form.appPhone", placeholder="(xxx) xxx-xxxx", required)
                    div.panel-footer(style="padding: 0px; height:40px;")
                        div.row(style="padding: 0px; height:40px; margin:0px;")
                            div.col-xs-6.submitInPanel.BWGray.hoverBluePointer(style="padding: 0px; margin:0px;")
                                button(type="submit", style="border:none; height:39px; width:100%;")
                                    i.fa.fa-check
                                    span.small-left-gap Submit
                            div.col-xs-6.cancelInPanel.BWGray.hoverBluePointer(style="padding: 0px;", ng-click="form.empty(); $parent.isCollapsed = !$parent.isCollapsed")
                                button(type="button", style="border:none; height:39px; width:100%;")
                                    i.fa.fa-times
                                    span.small-left-gap Cancel
                        div.clearfix
    //-- end .row --
    div.row(ng-repeat="app in apps | orderBy:'Name'")
        div.col-lg-7.col-md-12(style="float: none; margin: 0 auto;")
            div.panel(ng-class="{'panel-red' : $index%colorCount==0, 'panel-purple' : $index%colorCount==1, 'panel-blue' : $index%colorCount==2, 'panel-green' : $index%colorCount==3, 'panel-yellow' : $index%colorCount==4}")
                div.panel-heading
                    div.row
                        div.col-xs-2.col-sm-1
                            i.fa.fa-users.fa-5x
                        div.col-xs-6.col-sm-7.big-left-gap
                            div.medium {{app.Name}}
                            a(style="display:block; color:white; text-decoration:none;", href="tel:{{app.Phone}}")
                                div.medium-small {{app.Phone}}
                        div.col-xs-4.text-right(ng-if="app.curSeg")
                            div {{app.curSeg.PrimaryStaff.Name}} - Primary
                            div(ng-if="app.curSeg.SecondaryStaff") {{app.curSeg.SecondaryStaff.Name}} - Secondary
                            div(ng-if="!app.curSeg.SecondaryStaff") No Scheduled Secondary
                            div(ng-if="app.Fallback") {{app.Fallback.Name}} - Fallback
                            div(ng-if="!app.Fallback") No Scheduled Fallback
                        div.col-xs-4.text-right(ng-if="!app.curSeg")
                            div No Scheduled Primary
                            div No Scheduled Secondary
                            div(ng-if="app.Fallback") {{app.Fallback.Name}} - Fallback
                            div(ng-if="!app.Fallback") No Scheduled Fallback
                        //div.col-xs-4.text-right
                            //div.huge {{app.Staff.length}}
                            //div(ng-if="app.Staff.length > 1 || app.Staff.length == 0") Staff Members
                            //div(ng-if="app.Staff.length == 1") Staff Member
                a(href="/Applications/{{app.Name}}")
                    div.panel-footer
                        span.pull-left View Details
                        span.pull-right
                            i.fa.fa-arrow-circle-right
                        div.clearfix
    //-- end .row --
