block variables
    - var siteTitle = "On Call Escalation Manager - Applications";

extends layout

block content
    div.row
        div.col-lg-12
            h1.page-header Applications
        //-- end .col-lg-12 --
    //-- end .row --
    div.row
        div.col-lg-6.col-md-12
            div.panel.panel-primary
                div.panel-heading
                    div.row
                        div.col-xs-3
                            i.fa.fa-comments.fa-5x
                        div.col-xs-9.text-right
                            div.huge 26
                            div New Comments!
                a(href="#")
                    div.panel-footer
                        span.pull-left View Details
                        span.pull-right
                            i.fa.fa-arrow-circle-right
                        div.clearfix
        div.col-lg-6.col-md-12
            div.panel.panel-green
                div.panel-heading
                    div.row
                        div.col-xs-3
                            i.fa.fa-tasks.fa-5x
                        div.col-xs-9.text-right
                            div.huge 12
                            div New Tasks!
                a(href="#")
                    div.panel-footer
                        span.pull-left View Details
                        span.pull-right
                            i.fa.fa-arrow-circle-right
                        div.clearfix
        div.col-lg-6.col-md-12
            div.panel.panel-yellow
                div.panel-heading
                    div.row
                        div.col-xs-3
                            i.fa.fa-shopping-cart.fa-5x
                        div.col-xs-9.text-right
                            div.huge 124
                            div New Orders!
                a(href="#")
                    div.panel-footer
                        span.pull-left View Details
                        span.pull-right
                            i.fa.fa-arrow-circle-right
                        div.clearfix
        div.col-lg-6.col-md-12
            div.panel.panel-red
                div.panel-heading
                    div.row
                        div.col-xs-3
                            i.fa.fa-shopping-cart.fa-5x
                        div.col-xs-9.text-right
                            div.huge 13
                            div Support Tickets!
                a(href="#")
                    div.panel-footer
                        span.pull-left View Details
                        span.pull-right
                            i.fa.fa-arrow-circle-right
                        div.clearfix
    div(ng-Controller="index")
        p {{test}}
    //-- end .row --