block variables
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="shortcut icon", href="/images/favicon.png", type="image/png")

        - var title = siteTitle || "On Call Escalation Manager"
        title #{title}

        //-- Bootstrap Core CSS --
        link(href="/stylesheets/bootstrap.css", rel="stylesheet")

        //-- MetisMenu CSS --
        link(href="/stylesheets/plugins/metisMenu/metisMenu.min.css", rel="stylesheet")

        //-- Custom CSS --
        link(href="/stylesheets/sb-admin-2.css", rel="stylesheet")

        //-- Other CSS --
        link(href="/stylesheets/Styles.css", rel="stylesheet")

        //-- Custom Fonts --
        link(href="/font-awesome-4.1.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")

        //Angular
        script(src="/scripts/angular.min.js")
        script(src="/scripts/angular-route.min.js")
        script(src="/angular/Routes.js")

    body(ng-app="OnCallEscalationManager")
        div#wrapper
            //-- Navigation --
            nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom: 0")
                div.navbar-header
                    a.navbar-brand(href="/") 
                        img.iconImage(src="/images/Bandwidth-75.png")
                        | #{title}
                //-- end .navbar-header --

                //Not using navbar links for now
                    ul.nav.navbar-top-links.navbar-right
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown" href="#")
                                i.fa.fa-envelope.fa-fw 
                                i.fa.fa-caret-down
                            ul.dropdown-menu.dropdown-messages
                                li
                                    a(href="#")
                                        div
                                            strong John Smith
                                            span.pull-right.text-muted
                                                em Yesterday
                                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                                li.divider
                                li
                                    a(href="#")
                                        div
                                            strong John Smith
                                            span.pull-right.text-muted
                                                em Yesterday
                                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                                li.divider
                                li
                                    a(href="#")
                                        div
                                            strong John Smith
                                            span.pull-right.text-muted
                                                em Yesterday
                                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                                li.divider
                                li
                                    a.text-center(href="#")
                                        strong Read All Messages 
                                        i.fa.fa-angle-right
                            //-- end .dropdown-messages --
                        //-- end .dropdown --
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#")
                                i.fa.fa-tasks.fa-fw 
                                i.fa.fa-caret-down
                            ul.dropdown-menu.dropdown-tasks
                                li
                                    a(href="#")
                                        div
                                            p
                                                strong Task 1
                                                span.pull-right.text-muted 40% Complete
                                            div.progress.progress-striped.active
                                                div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", style="width: 40%")
                                                    span.sr-only 40% Complete (success)
                                li.divider
                                li
                                    a(href="#")
                                        div
                                            p
                                                strong Task 2
                                                span.pull-right.text-muted 20% Complete
                                            div.progress.progress-striped.active
                                                div.progress-bar.progress-bar-info(role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100", style="width: 20%")
                                                    span.sr-only 20% Complete (info)
                                li.divider
                                li
                                    a(href="#")
                                        div
                                            p
                                                strong Task 3
                                                span.pull-right.text-muted 60% Complete
                                            div.progress.progress-striped.active
                                                div.progress-bar.progress-bar-warning(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 60%")
                                                    span.sr-only 60% Complete (warning)
                                li.divider
                                li
                                    a(href="#")
                                        div
                                            p
                                                strong Task 4
                                                span.pull-right.text-muted 80% Complete
                                            div.progress.progress-striped.active
                                                div.progress-bar.progress-bar-danger(role="progressbar", aria-valuenow="80", aria-valuemin="0", aria-valuemax="100", style="width: 80%")
                                                    span.sr-only 80% Complete (danger)
                                li.divider
                                li
                                    a.text-center(href="#")
                                        strong See All Tasks 
                                        i.fa.fa-angle-right
                            //-- end .dropdown-tasks --
                        //-- end .dropdown --
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#")
                                i.fa.fa-bell.fa-fw
                                i.fa.fa-caret-down
                            ul.dropdown-menu.dropdown-alerts
                                li
                                    a(href="#")
                                        div
                                            i.fa.fa-comment.fa-fw
                                            |  New Comment
                                            span.pull-right.text-muted.small 4 minutes ago
                                li.divider
                                li
                                    a(href="#")
                                        div
                                            i.fa.fa-twitter.fa-fw
                                            |  3 New Followers
                                            span.pull-right.text-muted.small 12 minutes ago
                                li.divider
                                li
                                    a(href="#")
                                        div
                                            i.fa.fa-envelope.fa-fw
                                            |  Message Sent
                                            span.pull-right.text-muted.small 4 minutes ago
                                li.divider
                                li
                                    a(href="#")
                                        div
                                            i.fa.fa-tasks.fa-fw
                                            |  New Task
                                            span.pull-right.text-muted.small 4 minutes ago
                                li.divider
                                li
                                    a(href="#")
                                        div
                                            i.fa.fa-upload.fa-fw
                                            |  Server Rebooted
                                            span.pull-right.text-muted.small 4 minutes ago
                                li.divider
                                li
                                    a.text-center(href="#")
                                        strong See All Alerts 
                                        i.fa.fa-angle-right
                            //-- end .dropdown-alerts --
                        //-- end .dropdown --
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#")
                                i.fa.fa-user.fa-fw
                                i.fa.fa-caret-down
                            ul.dropdown-menu.dropdown-user
                                li
                                    a(href="#")
                                        i.fa.fa-user.fa-fw
                                        |  User Profile
                                li
                                    a(href="#")
                                        i.fa.fa-gear.fa-fw
                                        |  Settings
                                li.divider
                                li
                                    a(href="/login/")
                                        i.fa.fa-sign-out.fa-fw
                                        |  Logout
                            //-- end .dropdown-user --
                        //-- end .dropdown --
                    //-- end .navbar-top-links --

            div#page-wrapper
                ng-view


            //-- end #page-wrapper --
        //-- end #wrapper --

        //-- jQuery Version 1.11.0 --
        script(src="/scripts/jquery-1.11.1.min.js")

        //-- Bootstrap Core JavaScript --
        script(src="/scripts/bootstrap.min.js")

        //-- Metis Menu Plugin JavaScript --
        script(src="/scripts/plugins/metisMenu/metisMenu.min.js")

        //-- Morris Charts JavaScript --
        script(src="/scripts/plugins/morris/raphael.min.js")
        script(src="/scripts/plugins/morris/morris.min.js")
        script(src="/scripts/plugins/morris/morris-data.js")

        //-- Custom Theme JavaScript --
        script(src="/scripts/sb-admin-2.js")
